*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.con{
	display:flex;
	flex-direction: row;
	background-color: #ffe4c4;
	padding: 40px 20px;
}
.con1{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	height: 100vh;
}
.con2{
    flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signin form{
    width: 80px;
	padding-bottom: 3rem;
}
.signin .logo{
	margin-bottom: 8vh;
}

